@import "reset.css";
@import "global.css";
@import "normalize.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    place-items: center;
}

.container {
    width: fit-content;
    margin: auto;
}

.page-title {
    font-size: var(--xxlarge);
    color: var(--cool-gray);
}

.player-info-form {
    display: flex;
    justify-content: space-between;
}

.nickname-label {
    font-size: var(--big);
}